@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
    padding:  3% 10px 3%;
}
main{
    margin: auto;
    background-color: #f7fdfd;
    width: 80%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
text-align: center;
line-height: 100px;

}
.top-cont{
    display: flex;
    width: 100%;
    height: 100%;
    gap:20px

}
.img-sect{
    width: 40%;
    height: 60vh;
    background-color: aqua;

}
.img{
    background-image:url("background-img.png");
    width:100;
    height: 100%;
    background-size: cover;
    
}
.text-sect{
    width: 60%;
    height: 60vh;
} 
.header{
    text-align: center;
}
.line{
    margin: 0 auto 70px;
    width: 70px;
    height: 5px;
    border-radius: 5px;
    background-color: #D89616;

}
.info{
    display: flex;
    font-weight: 400;
    flex-direction: column;
    gap: 40px;
}

.bottom-cont{
    margin: 50px auto;
    padding: 50px  ;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 80%;
    height: 80vh ;
    /* box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green; */
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
    
}


.flex, .ct-u{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
input{
    height: 40px;
}
input,  textarea{
    width: 100%; 
    /* padding: 8px 10px; */
    transform:scale(100%);
    border-style: solid ;
    border-radius: 5px;
    /* outline: none; */
} 
input:hover, textarea:hover {
    box-shadow: 5px black ;
}
input:active, textarea:active, .btn:active {
    transform:scale(90%);
}
.btn{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: end;
    /* margin-left:444.328px; */
    
}
button{ 
    width: 20%;
    height: 100%;
    background-color: #0014ff;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    
}
button:hover{
    border-radius:5p ;
    background-color:  #086DB8;
}
@media only screen and (max-width: 1199.99px){ 
    main{
        height: unset;

    }
    .top-cont{
        display: flex;
        flex-direction: column;
    }
    .text-sect{
        height: unset;
        width: 100%;
    }
    .img-sect{
        height: unset;
        width: 100%;
    }
    .img{
        width:100%;
        height: unset;
        aspect-ratio: 211/248;
    }    
    .btn{
        height: 15%;
    }
    

   
}

@media only screen and (max-width: 476.99px){

    .bottom-cont{
        width: 100%;
        height: unset;
        padding: 0;
    }
    .bottom-cont > * {
        width: 100%;
    }
    .ct-u, .flex {
        width: 100%;
    }
    .btn{
        height: 15%;
    }
}


